!
no aaa root
!
username admin privilege 15 role network-admin secret sha512 {{ router.admin_password }}
!
management api http-commands
  protocol http
  no shutdown
!
no service interface inactive port-id allocation disabled
!
transceiver qsfp default-mode 4x10G
!
service routing protocols model multi-agent
!
hostname {{ router.name }}
!
spanning-tree mode mstp
!
system l1
   unsupported speed action error
   unsupported error-correction action error
!
management api gnmi
   transport grpc default
!
management api netconf
   transport ssh default
!
ip routing
!
{% if router.name == 'Internet_router' %} # NOTA: questo nome hardcodato sarebbe meglio prenderlo dal Config in modo che se si cambia una volta lo prende anche qui
ip route 0.0.0.0/0 192.168.140.2
{% else %}
ip route 0.0.0.0/0 172.20.20.1
{% endif %}
!
interface Management0
   ip address {{ router.mngt_ipv4 }}
{% for iface in router.interfaces %}
{% if iface.name == 'Loopback0' %}
router-id {{ iface.ip.split("/")[0] }}
{% endif %}
interface {{ iface.name }}
  no switchport
  ip address {{ iface.ip }}
  {% if router.dhcp and iface.name == router.dhcp.interface %}
  dhcp server ipv4
  {% endif %}
{% endfor %}
!
{% if router.name == 'Internet_router' %} # NOTA: stessa cosa qui
ip prefix-list DEFAULT_ROUTE seq 10 permit 0.0.0.0/0

{% for neighbor in router.neighbors %}
ip as-path access-list AS{{neighbor.asn}}-IN permit ^{{neighbor.asn}}_ any
{% endfor %}
!
{% for neighbor in router.neighbors %}
route-map RM-IN-{{neighbor.asn}} permit 10
   match as-path AS{{neighbor.asn}}-IN
!
{% endfor %}

route-map RM-OUT-INTERNET permit 10
   match ip address prefix-list DEFAULT_ROUTE
!
{% endif %}

router bgp {{ router.asn }}
  bgp missing-policy direction in action deny
  bgp missing-policy direction out action deny
  {% for iface in router.interfaces %}
  {% if iface.name == 'Loopback0' %}
  router-id {{ iface.ip.split("/")[0] }}
  {% endif %}
  {% endfor %}
  {% for neighbor in router.neighbors %}
  {% if neighbor.asn != router.asn %}
  neighbor {{ neighbor.ip }} remote-as {{ neighbor.asn }}
  {% if router.name == 'Internet_router' %} # NOTA: stessa cosa qui
  neighbor {{ neighbor.ip }} route-map RM-IN-{{neighbor.asn}} in
  neighbor {{ neighbor.ip }} route-map RM-OUT-INTERNET out
  {% endif %}
  {% endif %}
  {% endfor %}

  {% if router.name == 'Internet_router' %} # NOTA: stessa cosa qui
  network 0.0.0.0/0
  {% endif %}
!
router multicast
  ipv4
    software-forwarding kernel
  !
  ipv6
    software-forwarding kernel
!
router ospf 1
{% for iface in router.interfaces %}
{% if iface.name == 'Loopback0' -%}
  router-id {{ iface.ip.split("/")[0] }}
{% elif iface.network %}
  network {{ iface.network }} area 0.0.0.0
{%- endif %}
{% endfor %}
  max-lsa 12000
!
{% if router.dhcp -%}
dhcp server
  subnet {{ router.dhcp.subnet }}
  range {{ router.dhcp.range[0] }} {{ router.dhcp.range[1] }}
  {% for iface in router.interfaces %}
  {% if iface.name == router.dhcp.interface -%}
  default-gateway {{ iface.ip.split("/")[0] }}
  {%- endif %}
  {%- endfor %}
{%- endif %}
!
end
