name: test01
topology:
  nodes:
  {% set ns_mgmt_ip_counter = namespace(mgmt_ip_counter=2) %}
  {% for router in routers %}
    {{ router.name }}:
      kind: arista_ceos
      image: ceos:4.33.0F
      restart-policy: always
      mgmt-ipv4: 172.20.20.{{ ns_mgmt_ip_counter.mgmt_ip_counter }}
      startup-config: {{ router.name }}.cfg
    {% set ns_mgmt_ip_counter.mgmt_ip_counter = ns_mgmt_ip_counter.mgmt_ip_counter + 1 %}
  {% endfor %}

  {% for host in hosts %}
    {{ host.name }}:
      kind: linux
      image: alpine:latest
      restart-policy: always
      network-mode: none
      mgmt-ipv4: 172.20.20.{{ ns_mgmt_ip_counter.mgmt_ip_counter }}
      exec:
        {% for iface in host.interfaces %}
        {% if iface.dhcp %}
        - udhcpc -i {{ iface.linux_name }}
        {% else %}
        - ip addr add {{ iface.ip }} dev {{ iface.linux_name }}
        {% endif %}
        {% endfor %}
        {% if host.dhcp_enabled == false %}
        - ip route add default via {{ host.gateway }}
        {% endif %}
   {% set ns_mgmt_ip_counter.mgmt_ip_counter = ns_mgmt_ip_counter.mgmt_ip_counter + 1 %}
  {% endfor %}
  links:

  {% for link in links %}
    - endpoints: ["{{link.endpoints[0]}}", "{{link.endpoints[1]}}"]
  {% endfor %}

